<!DOCTYPE html>
<html lang="en">

  <head>
    <!-- Meta tags -->
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Title -->
    <title>DSI Web Landing Page</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="./assets/css/bootstrap.min.css" />
    <!-- Custom CSS  -->
    <link rel="stylesheet" href="./assets/css/main.css">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap" rel="stylesheet">
  </head>

  <body> 

    <header class="border-bottom border-1 fixed-top bg-white">  
      <div class="container px-4 px-lg-2">
        <nav class="navbar navbar-expand-lg py-1 py-lg-3">
          <a class="navbar-brand" href="#">
            <img class="ps-lg-1" src="./assets/images/logo/logo.png" alt="logo" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse ms-xl-5" id="navbar">
            <ul class="navbar-nav mx-auto">
              <li class="nav-item"><a href="#" class="nav-link px-3 px-xl-4 link-secondary">Services</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-3 px-xl-4 link-secondary">Product</a></li>
              <li class="nav-item"><a href="#" class="nav-link px-3 px-xl-4 link-secondary">Technology</a></li>
              <li class="nav-item dropdown">
                <a class="nav-link px-3 px-xl-4 dropdown-toggle" href="#" id="about" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About
                </a>
                <ul class="dropdown-menu" aria-labelledby="about">
                  <li><a class="dropdown-item" href="#">About1</a></li>
                  <li><a class="dropdown-item" href="#">About2</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link px-3 px-xl-4 dropdown-toggle" href="#" id="client" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Client
                </a>
                <ul class="dropdown-menu" aria-labelledby="client">
                  <li><a class="dropdown-item" href="#">Client1</a></li>
                  <li><a class="dropdown-item" href="#">Client2</a></li>
                </ul>
              </li>
              <li class="nav-item"><a href="#" class="nav-link px-3 px-xl-4 link-secondary">Partner</a></li>
            </ul>
            <div class="d-flex col-md-0 col-lg-0">
              <button class="btn ps-lg-0" type="submit"><img src="./assets/images/icons/Union.png" alt="union" /></button>
              <button class="btn" type="submit"><img src="./assets/images/icons/mail.png" alt="mail" /></button>
              <button class="btn pe-lg-1" type="submit"><img src="./assets/images/icons/shuffle.png" alt="shuffle" /></button>
            </div>
          </div>
        </nav>
      </div>
    </header>
    
    <section class="blog mt-5 pt-5">
      <div class="container mt-5">
        <div class="row">
        <div class="col-12 col-md-12 col-lg-6 mb-md-0 pt-4 py-lg-5 pe-lg-0 order-2 order-md-2 order-lg-1">
          <h1 class="text-center text-lg-start">
            Making the most of the 
            ever-growing <br>
            <span style="color:#EE4248;">Information Technology</span> 
          </h1>
          <p class="my-3 my-lg-4 text-center text-lg-start">Managed by a team of professional experts with extensive experience and impressive track records</p>  
          <button class="btn d-flex mx-auto mx-lg-0">Read More</button>
        </div>
        <div class="col-md-12 col-lg-6 py-2 py-lg-5 order-1 order-md-1 order-lg-2">
          <img class="img-fluid d-flex mx-lg-0 mx-md-auto" src="./assets/images/devicepana.png" alt="blog image" />
        </div>
      </div>
      </div>
    </section>

    <br>

    <section class="welcome">
      <div class="container mt-3 mt-lg-5">
        <div class="row">
          <div class="col-12 col-md-12 col-lg-6 mb-2 mb-md-2">
            <img class="d-flex mx-auto" src="./assets/images/browserstatspana.png" alt="welcome image" />
          </div>
          <div class="col-md-12 col-lg-6 pt-4 pe-4 pt-lg-5 pb-lg-4 pe-lg-4 ps-lg-4 ps-xl-0">
            <h2 class="pb-3 text-center text-lg-start">
              Welcome to 
              <span style="color:#EE4248;">Dwidasa Samsara Indonesia (DSI) </span> 
            </h2>
            <p class="pb-2">
              Dwidasa Samsara Indonesia (DSI) was firstly established in 2010 by the founders, who each of them has a common end objective to innovate new creations by making the most of the ever-growing information technology through  <span style="color:#EE4248;">DSI</span>&apos;s distinct front-end based application concept.
            </p>
            <p class="pb-2">
              Managed by a team of professional experts with extensive experience and impressive track records,  <span style="color:#EE4248;">DSI</span> believes that continuous improvements and innovations assure your business to run effectively and efficiently.
            </p>  
          </div>
        </div>
      </div>
    </section>

    <br>

    <section class="productservice">
      <div class="container mt-3 mt-lg-5 p-lg-3 pb-lg-0">
        <h2 class="mb-3 text-center">Product and Service</h2>
        <div class="row">

          <div class="col-12 col-md-6 col-lg-4 p-0 p-lg-3">
            <div class="card border-0">
              <div class="card-body p-lg-2">
                <img class="img-fluid mb-3 d-flex mx-lg-0 mx-auto" src="./assets/images/product-description.png" alt="product" />
                <h3 class="card-title text-center text-lg-start">Our Product</h3>
                <p class="my-3 mx-auto mx-lg-0 card-text text-center text-lg-start">Our product is made on the base of our team&apos;s careful research and analyses, ranging from internet based application.</p>  
                <button class="btn d-flex mx-lg-0 mx-auto">Read More</button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-6 col-lg-4 p-0 p-lg-3">
            <div class="card border-0">
              <div class="card-body p-lg-2">
                <img class="img-fluid mb-3 d-flex mx-lg-0 mx-auto" src="./assets/images/verified.png" alt="service" />
                <h3 class="card-title text-center text-lg-start">Our Service</h3>
                <p class="my-3 mx-auto mx-lg-0 card-text text-center text-lg-start">DSI&apos;s shared service solutions focus on the front-end based software development, designed specifically for the banking and financial sectors.</p>  
                <button class="btn d-flex mx-lg-0 mx-auto">Read More</button>
              </div>
            </div>
          </div>

          <div class="col-12 col-md-12 col-lg-4 p-0 p-lg-3">
            <div class="card border-0">
              <div class="card-body p-lg-2">
                <img class="img-fluid mb-3 d-flex mx-lg-0 mx-auto" src="./assets/images/cogwheel.png" alt="technology" />
                <h3 class="card-title text-center text-lg-start">Our Technology</h3>
                <p class="my-3 mx-auto mx-lg-0 card-text text-center text-lg-start">First JAVA, runs on more than 850 million personal computers worldwide, and on billions of devices worldwide, including mobile and TV devices.</p>  
                <button class="btn d-flex mx-lg-0 mx-auto">Read More</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <br>

    <footer class="footer">
      <div class="container mt-3 mt-lg-5 mb-lg-3 px-4 px-lg-3">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-6 col-xl-4">
            <img class="pt-4" src="./assets/images/logo/logo.png" alt="logo" />
            <p class="title pt-1 pt-lg-2 mb-0">PT Dwidasa Samsara Indonesia</p>
            <p class="details py-3 py-lg-2 mb-0">Ruko Jalur Sutera 29A No. 53 <br> Alam Sutera Serpong, Tangerang 15323</p>
          </div>
          <div class="col-12 col-md-6 col-lg-6 col-xl-auto ps-lg-0 pe-lg-4">
            <h4 class="my-3 mt-md-5 mt-lg-5">Contact</h4>
            <p class="details mb-2">
              Phone : +62.21.5314.1135 <br>
              Fax : +62.21.5314.1135 <br>
              Email : community@dwidasa.com
            </p>
          </div>
          <div class="d-flex flex-column justify-content-end col-12 col-md-12 col-lg-12 col-xl-auto ms-lg-3 ps-lg-4 pe-lg-0 py-4 py-lg-0">
            <div class="d-flex align-items-center justify-content-center">
                <div class="col">
                  <img class="silverlight ps-2" src="./assets/images/logo/silverlight.png" alt="silverlight">
                </div>
                <div class="col">
                  <img class="dotnet ps-4" src="./assets/images/logo/dotnet.png" alt="dotnet">
                </div>
                <div class="col">
                  <img class="java ps-3 ps-lg-4" src="./assets/images/logo/java.png" alt="java">
                </div>
            </div>
            <div class="pt-3 pb-2 d-flex align-items-center justify-content-center">
                <div class="col">
                  <img class="ios" src="./assets/images/logo/ios.png" alt="ios">
                </div>
                <div class="col">
                  <img class="android ps-3 ps-lg-4" src="./assets/images/logo/android.png" alt="android">
                </div>
                <div class="col">
                  <img class="blackberry ps-3 ps-lg-4" src="./assets/images/logo/blackberry.png" alt="blackberry">
                </div>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <footer class="copyright">
      <div class="container">
        <p class="mb-0 py-4 text-center">Copyright &copy; 2015 - Dwidasa Samsara Indonesia</p>
      </div>
    </footer>

    <!-- JS files -->
    <script src="./assets/js/bootstrap.bundle.min.js"></script>

  </body>
</html>